body {
    background-color: aliceblue;
}

.grid-container {
    display: grid;
    width: 600px;
    height: 600px;
    margin: 0 10px 10px 10px;
    background-color: white;
    border: 1px solid black;
}

.square {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}

.square:hover {
    background-color: lightgrey;
}

button {
    height: 40px;
    width: 180px;
    border-radius: 10px;
    margin: 10px;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(74, 72, 72, 0.5);
}

.slider {
    display: inline-block;
}

/* Not done yet */
.slider input[type="range"]{
    appearance: none;
    height: 5px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
}